<%- include("partials/header") -%>

<h1>Compose</h1>

<form class="" action="/compose" method="post">

  <div class="mb-3">
    <label class="form-label">Title</label>
    <input type="text" class="title form-control" name="postTitle">
  </div>

  <select class="form-select c-select" name="selector" aria-label="Default select example" >
    <option selected>Choose Category</option>
    <option name="Projects">Projects</option>
    <option name="Technology">Technology</option>
    <option name="Personal">Personal</option>
  </select>

  <div class="mb-3">
    <label class="form-label">Image URL</label>
    <input placeholder="Please add 600x280(aprox) image URL for better view." type="text" class="form-control" name="postImage">
  </div>

  <div class="mb-3">
    <label>Post</label>
    <textarea class="form-control" rows="5" name="postBody"></textarea>
  </div>

  <button type="submit" class="c-button compose-btn btn btn-primary">Publish</button>
</form>

</div>

<%- include("partials/footer") -%>
